pywin32; sys_platform == 'win32'
antlib; sys_platform == 'win32'
pyinstaller
pyserial ~= 3.0
click ~= 7.0
ecdsa ~= 0.13.2
behave ~= 1.0
protobuf ~= 3.8
pc_ble_driver_py ~= 0.12
tqdm ~= 4.25
piccata ~= 1.0
pyspinel == 1.0.0a3
intelhex ~= 2.2
pyyaml ~= 5.1
crcmod ~= 1.7
libusb1 ~= 1.7
